<section class="adminSection">
    <p class="title">Comentarios</p>

    <input type="text" id="inputBuscarComentario" onkeyup="buscarComentario()" class="buscaTabla" placeholder="Busca comentarios">
    <table class="table hoverable fullwidth" id="tablaComentarios">
        <thead>
            <tr>
                <th>#id</th>
                <th>Evento</th>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#id</th>
                <th>Evento</th>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
            {% for comentario in comentarios %}
                <tr>
                    <th>{{ comentario.id }}</th>
                    <td>{{ comentario.evento.nombre }}</td>
                    <td>{{ comentario.usuario.nickname }}</td>
                    <td>{{ comentario.mensaje }}</td>
                    <td>{{ comentario.fecha|date("d/m/Y H:i") }}</td>
                    <td>
                        <a href="http://localhost/evento.php?id={{ comentario.evento.id }}" style="text-decoration: none!important;">
                            <i class="fa fa-chain link"></i>
                        </a>
                        <a onclick="showEditComentarioModal({{ comentario.id }},{{ comentario.mensaje|json_encode }});" style="text-decoration: none!important;">
                            <i class="fa fa-edit edit"></i>
                        </a>
                        <a onclick="deleteComentario({{ comentario.id }})" style="text-decoration: none!important;">
                            <i class="fa fa-close remove"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</section>

<div id="editComentarioPopUp" class="modal">
  <form id="formEditComentario" class="modal-content animate" onsubmit="return tryEditComentario(event);">
    <div class="avatar-container">
      <span onclick="closeEditComentarioModal()" class="close" title="Cerrar">&times;</span>
    </div>

    <div class="containerOptions">
      <h3 id="tituloEditarComentario">Editar Comentario</h3>

      <label for="comentario"><b>Comentario</b></label>
      <input type="text" placeholder="Edita el comentario" name="mensaje" id="inputMensaje" required>
      <input type="hidden" name="comentario" id="inputComentario">

      <button class="LoginPopUpButton" type="submit">Editar</button>
      <div id="messageBox">
      </div>

    </div>

    <div class="containerOptions" style="background-color:#f1f1f1">
      <button type="button" onclick="closeEditComentarioModal()" class="cancelbtn">Cancelar</button>
    </div>
  </form>
</div>

<div id="deleteComentarioModal" class="modal">
  <form id="formDeleteComentario" class="modal-content animate" onsubmit="return tryDeleteComentario(event);">
    <div class="avatar-container">
      <span onclick="closeDeleteComentarioModal()" class="close" title="Cerrar">&times;</span>
    </div>
    <div class="containerOptions">
      <h3 id="tituloBorrarComentario">¿Borrar Comentario?</h3>
      <input type="hidden" name="comentario" id="inputComentarioBorrar">

      <button class="LoginPopUpButton" type="submit">Borrar</button>
      <div id="messageBox">
      </div>

    </div>

    <div class="containerOptions" style="background-color:#f1f1f1">
      <button type="button" onclick="closeDeleteComentarioModal()" class="cancelbtn">Cancelar</button>
    </div>
  </form>
</div>
