<section class="adminSection">
    <p class="title">Eventos</p>


    <input type="text" id="inputBuscarEventos" onkeyup="buscarEventos()" class="buscaTabla" placeholder="Busca eventos">
    <table class="table hoverable fullwidth" id="tablaEventos">
        <thead>
            <tr>
            <th>#id</th>
            <th>Nombre</th>
            <th>Organizador</th>
            <th>Fecha</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <th>#id</th>
            <th>Nombre</th>
            <th>Organizador</th>
            <th>Fecha</th>
            <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
            {% for evento in eventos %}
                <tr>
                    <th>{{ evento.id }}</th>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.organizador }}</td>
                    <td>{{ evento.fecha }}</td>
                    <td>
                        <a href="http://localhost/evento.php?id={{ evento.id }}" style="text-decoration: none!important;">
                            <i class="icono-chain link"></i>
                        </a>
                        <a onclick="showEditEventoModal({{ evento.id }},{{ evento.nombre }},{{ evento.imagen }},{{ evento.organizador }},{{ evento.fecha }},{{ evento.descripcion }},
                                                         {{ evento.imagen_lateral_1 }},{{ evento.imagen_lateral_1_descripcion }},{{ evento.imagen_lateral_2 }},
                                                         {{ evento.imagen_lateral_2_descripcion }});" style="text-decoration: none!important;">
                            <i class="icono-sliders edit"></i>
                        </a>
                        <a onclick="deleteComentario({{ comentario.id }})" style="text-decoration: none!important;">
                            <i class="icono-cross remove"></i>
                        </a>
                        <a onclick="showAddEventPopUp();" style="text-decoration: none!important;">
                            <i class="icono-plus add"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</section>

<div id="addEventPopUp" class="modal">
  <form id="formAddEvent" class="modal-content animate" onsubmit="return tryAddEvento();">
    <div class="avatar-container">
      <span onclick="closeAddEventoModal()" class="close" title="Cerrar">&times;</span>
    </div>

    <div class="containerOptions">
      <label for="nombre"><b>Nombre</b></label>
      <input type="text" placeholder="Introduzca el nombre del evento" name="nombre" required>

      <label for="imagen"><b>Imagen</b></label>
      <input type="text" placeholder="Introduzca la imagen del evento" name="imagen" required>

      <label for="organizador"><b>Organizador</b></label>
      <input type="text" placeholder="Introduzca el organizador del evento" name="organizador" required>

      <label for="fecha"><b>Fecha</b></label>
      <input type="text" placeholder="Introduzca la fecha del evento" name="fecha" required>

      <label for="descripcion"><b>Descripcion</b></label>
      <input type="text" placeholder="Introduzca la descripcion del evento" name="descripcion" required>

      <label for="imagen_lateral_1"><b>Imagen Lateral 1</b></label>
      <input type="text" placeholder="Introduzca la imagen lateral 1 evento" name="imagen_lateral_1" required>

      <label for="imagen_lateral_1_descripcion"><b>Imagen Lateral 1 Descripcion</b></label>
      <input type="text" placeholder="Introduzca la descripcion de la imagen lateral 1" name="imagen_lateral_1_descripcion" required>

      <label for="imagen_lateral_2"><b>Imagen Lateral 2</b></label>
      <input type="text" placeholder="Introduzca la imagen lateral 2 evento" name="imagen_lateral_2" required>

      <label for="imagen_lateral_2_descripcion"><b>Imagen Lateral 2 Descripcion</b></label>
      <input type="text" placeholder="Introduzca la descripcion de la imagen lateral 2" name="imagen_lateral_2_descripcion" required>



      <button class="LoginPopUpButton" type="submit">Crear</button>
      <div id="messageBox">
      </div>

    </div>

    <div class="containerOptions" style="background-color:#f1f1f1">
      <button type="button" onclick="closeAddEventoModal()" class="cancelbtn">Cancelar</button>
    </div>
  </form>
</div>

<div id="editEventoPopUp" class="modal">
  <form id="formEditEvento" class="modal-content animate" onsubmit="return tryEditEvento(event);">
    <div class="avatar-container">
      <span onclick="closeEditEventoModal()" class="close" title="Cerrar">&times;</span>
    </div>

    <div class="containerOptions">
      <h3 id="tituloEditarEvento">Editar Evento</h3>

      <label for="nombre"><b>Nombre</b></label>
      <input type="text" placeholder="Edita el nombre del evento" name="nombre" id="inputNombre" required>
      <input type="hidden" name="evento" id="inputEvento">

      <label for="imagen"><b>Imagen</b></label>
      <input type="text" placeholder="Edita la imagen del evento" name="imagen" id="inputImagen" required>

      <label for="organizador"><b>Organizador</b></label>
      <input type="text" placeholder="Edita el organizador del evento" name="organizador" id="inputOrganizador" required>

      <label for="fecha"><b>Fecha</b></label>
      <input type="text" placeholder="Edita la fecha del evento" name="fecha" id="inputFecha" required>

      <label for="descripcion"><b>Descripcion</b></label>
      <input type="text" placeholder="Edita la descripcion del evento" name="descripcion" id="inputDescripcion" required>

      <label for="imagen_lateral_1"><b>Imagen Lateral 1</b></label>
      <input type="text" placeholder="Edita la imagen lateral 1 evento" name="imagen_lateral_1" id="inputImg1" required>

      <label for="imagen_lateral_1_descripcion"><b>Imagen Lateral 1 Descripcion</b></label>
      <input type="text" placeholder="Edita la descripcion de la imagen lateral 1" name="imagen_lateral_1_descripcion" id="inputImg1Desc" required>

      <label for="imagen_lateral_2"><b>Imagen Lateral 2</b></label>
      <input type="text" placeholder="Edita la imagen lateral 2 evento" name="imagen_lateral_2" id="inputImg2" required>

      <label for="imagen_lateral_2_descripcion"><b>Imagen Lateral 2 Descripcion</b></label>
      <input type="text" placeholder="Edita la descripcion de la imagen lateral 2" name="imagen_lateral_2_descripcion" id="inputImg2Desc" required>

      <button class="LoginPopUpButton" type="submit">Editar</button>
      <div id="messageBox">
      </div>

    </div>

    <div class="containerOptions" style="background-color:#f1f1f1">
      <button type="button" onclick="closeEditEventoModal()" class="cancelbtn">Cancelar</button>
    </div>
  </form>
</div>
