{% extends "layout.twig" %}

{% block titulo %} Conócenos {% endblock %}

{# Cargar el head normal y añadir el css #}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/conocenos.css" media="screen"/>
{% endblock %}

{% block mainContent %}
  <h2 class="title">{{ contacto.titulo }} </h2>
  <h3 class="subtitle">{{ contacto.subtitulo }}</h3>

<section>
    <p class="text-conocenos">
      {{ contacto.informacion_general|nl2br }} {# nl2br insertará saltos de línea #}
    </p>
    <div class="contacto-izq">
      <img src="{{ contacto.imagen_izquierda }}" width="100">
      <h5 class="contacto-izq-texto">{{ contacto.descripcion_izquierda}} </h5>
    </div>
    <div class="contacto-der">
      <img src="{{ contacto.imagen_derecha }}" width="100">
      <h5 class="contacto-der-texto">{{ contacto.descripcion_derecha }} </h5>
    </div>
  </div>
</section>
{% endblock %}
