{% extends "layout.twig" %}

{% block titulo %}{{ evento.nombre }}{% endblock %}

{# Cargar el head normal y añadir el css y js de los comentarios #}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/comentarios.css" media="screen"/>
    <script src="js/comentarios.js"></script>
    <script src="js/compartirEvento.js"></script>
    <script src="js/galeria.js"></script>
    <link rel="stylesheet" type="text/css" href="css/tags.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/galeria.css" media="screen"/>
{% endblock %}


{% block mainContent %}
<h2 class="main-title">{{ evento.nombre }}</h2>
<section class="content-event">
    <!-- Imagenes del evento -->
    {#  Revisar: Si nos pide una galería, esto sería un foreach?
        Y en lugar de 2 columnas para fotos, otra tabla asociada a la id del evento para poder añadir diferentes cantidades de fotos
    #}
    <div class="img-event">
        <img src="{{ evento.imagen_lateral_1 }}">
        <p class="img-footer"> {{ evento.imagen_lateral_1_descripcion }} </p>
        <img src="{{ evento.imagen_lateral_2 }}">
        <p class="img-footer"> {{ evento.imagen_lateral_2_descripcion }} </p>
    </div>
    <!-- Fin de imagenes del evento -->

    <!-- Texto del evento -->
    <h3 class="organizer-event">{{ evento.organizador }}</h3>
    <h3 class="date-event">{{ evento.fecha }}</h3>
    <p class="text-event">
      {{ evento.descripcion|nl2br }} {# nl2br insertará saltos de línea #}
    </p>

    <!-- Etiquetas del evento -->
    <section class="lista-tags">
        {% for tag in etiquetas %}
            <span class="tag"><a href="/index.php?tag={{ tag.nombre }}">{{ tag.nombre }}</a></span>
        {% endfor %}
    </section>
    <!-- Fin etiquetas -->

    <span class="text-created-updated-event">Creado el {{ evento.creado_en|date("d/m/Y H:i") }}. Actualizado el {{ evento.actualizado_en|date("d/m/Y H:i") }}</span>
    <!-- Fin texto del evento -->

    <!-- Enlaces sociales -->
    <h3 class="social-event">Comparte este evento</h3>
    <div class="social">
      <a onclick="compartir('Facebook', '{{ evento.nombre }}', '{{ evento.imagen }}')"> <img src="img/facebook.png"> </a>
      <a onclick="compartir('Twitter', '{{ evento.nombre }}', '{{ evento.imagen }}')"> <img src="img/twitter.png"> </a>
      <a href="eventoImprimir.php?id={{ evento.id }}"> <img src="img/printer.png"> </a>
    </div>
    <!-- Fin enlaces sociales -->

    <!-- Panel de comentarios -->
    <button id="mostrarComentarios" onclick="mostrarComentarios()" class="boton botonMostrar">Mostrar comentarios</button>
    <button id="ocultarComentarios" onclick="mostrarComentarios()" class="boton botonOcultar">Ocultar comentarios</button>
    <div id="cajaComentarios" class="cajaComentarios" hidden>
      <!-- Lista de comentarios -->
      <section id="listaComentarios">
        {% for comentario in comentarios %}
            <article class="comentario" id="comentario-{{ comentario.id }}">
              <div class="comentario-autor">
                {{ comentario.usuario.nickname }}
                <div class="comentario-datos">
                  <span class="comentario-email">{{ comentario.usuario.email }}</span>
                  <span class="comentario-fecha">{{ comentario.fecha|date("d/m/Y H:i") }}</span>
                </div>
              </div>
              <div class="comentario-mensaje">
                <p>{{ comentario.mensaje }}</p>
                {% if comentario.editadoPor is not null %}
                    <p class="comentario-editado">Editado por {{ comentario.editadoPor}} el {{ comentario.fechaEdit|date("d/m/Y H:i") }}</p>
                {% endif %}
              </div>
            </article>
        {% endfor %}
      </section>
      <!-- Fin lista de comentarios -->

      <!-- Formulario -->
      {% if loggedUser is not null %}
          <form class="form-comentarios" id="formEnviarComentario" onsubmit="return enviarComentario(event)">
            <div class="infoComentarios">Añade un comentario</div>

            <input id="autorIdInput" name="userid" type="hidden" value="{{ loggedUser.id }}">
            <input id="autorInput" name="nombre" type="hidden" value="{{ loggedUser.nickname }}"></input>
            <input id="emailInput" name="email"  type="hidden" value="{{ loggedUser.email }}"></input>

            <label for="mensaje" id="mensajeLabel">Mensaje</label>
            <textarea onkeyup="filtrarContenido(event, {{ prohibidas|json_encode }})" id="areaMensaje" placeholder="Introduce tu comentario..." name="mensaje" required></textarea>

            <input name="eventid" id="eventid" type="hidden" value="{{ evento.id }}"></input>

            <button type="submit" class="boton">Enviar</button>
          </form>
      {% else %}
        <a href="#" onclick="showLoginPopUp()">Inicia sesión</a> para añadir comentarios
      {% endif %}

      <!-- Fin formulario -->
    </div>
    <!-- Fin panel de comentarios -->

    {% if galeria is not empty %}
      <h3 class="social-event">Galería</h3>
      <section class="gal-row">
        {% for foto, descripcion in galeria %}
          <article class="gal-column">
            <img src="{{ foto }}" alt=" {{ descripcion }}" onclick="cambiarFotoGaleria(this);">
          </article>
        {% endfor %}
      </section>

      <div class="gal-container">
        <span onclick="this.parentElement.style.display='none'" class="gal-closebtn">&times;</span>
        <img id="gal-expandedImg" style="width:100%">
        <div id="gal-imgtext"></div>
      </div>
    {% endif %}

    {% if evento.video_id is not null %}
      <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ evento.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
    {% endif %}
</section>
{% endblock %}
