{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
		<link rel="stylesheet" type="text/css" href="css/tags.css" media="screen"/>
{% endblock %}

{% block titulo %}Portada{% endblock %}

{% block mainContent %}
	<!-- Eventos -->
		<h2 class="main-title">Eventos {{ busqueda }}</h2>
		<section class="content">
			{% for evento in eventos %}
				<article class="box">
					<a href="evento.php?id={{ evento.id }}">
						<picture class="thumbnail">
							<img src="img/{{ evento.imagen }}" alt=" {{ evento.nombre }}">
						</picture>
						<div class="box-content">
							<p>{{ evento.nombre }}</p>
						</div>
					</a>
				</article>
			{% endfor %}
		</section>
	<!-- Fin eventos -->
	<hr/>
	<section class="lista-tags-portada">
			<span class="tag"><a href="/index.php">todos</a></span>
			{% for tag in etiquetas %}
					<span class="tag"><a href="/index.php?tag={{ tag.nombre }}">{{ tag.nombre }} <span class="tag-count">({{ tag.cantidad }})</span></a></span>
			{% endfor %}
	</section>
{% endblock %}
