{% extends "layout.twig" %}

{% block titulo %} {{ loggedUser.nickname }} {% endblock %}

{# Cargar el head normal y añadir el css #}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/usuario.css" media="screen"/>
    <script src="js/usuario.js"></script>
{% endblock %}

{% block mainContent %}
<h2 class="title"> Perfil del usuario {{ loggedUser.nickname }} </h2>

<section class="content-user">
    <!-- Rango usuario -->
    <div class="img-rango">
        {% if loggedUser.rango == constant('Usuario::REGISTRADO') %}
        <img src="../img/registrado.png">
        <p class="img-footer"> Usuario registrado </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::MODERADOR') %}
        <img src="../img/moderador.png">
        <p class="img-footer"> Moderador </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::GESTOR') %}
        <img src="../img/gestor.png">
        <p class="img-footer"> Gestor </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::SUPERUSUARIO') %}
        <center><img src="../img/superusuario.png"></center>
        <p class="img-footer"> Superusuario </p>
        {% endif %}
    </div>
    <!-- Fin rango usuario -->

    <!-- Datos usuario -->

    <p class="data-update">Datos actualizados del perfil</p>
    <div class="user-data">
      <p class="title-data">Nickname del usuario:&nbsp  </p><p class="text-data"> {{ loggedUser.nickname }} </p>
    </div>
    <div class="user-data">
      <p class="title-data">Email del usuario:&nbsp </p><p class="text-data"> {{ loggedUser.email }} </p>
    </div>

    {% if updated == "ok" %}
    <div class="user-data">
      <p class="title-data">ACTUALICADO</p>
    </div>
    {% endif %}

    {% if updated == "error" %}
    <div class="user-data">
      <p class="title-data">ERROR DE ACTUALIZAR</p>
    </div>
    {% endif %}
    <!-- Panel de comentarios -->
    <button id="mostrarModificarDatos" onclick="mostrarComentarios()" class="open-update">Modificar datos personales</button>
    <div id="cajaDatosPersonales" class="cajaDatosPersonales" hidden>
      <form class="containerOptions" action="../core/post/postModify.php" method="POST">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Introduzca su email" name="email" >

          <label for="nickname"><b>Nombre de usuario/Nick</b></label>
          <input type="text" placeholder="Introduzca su nickname" name="nickname" >

          <label for="password"><b>Contraseña</b></label>
          <input type="password" placeholder="Introduzca su contraseña" name="password" >

          <label for="passwordConfirm"><b>Confirmar contraseña</b></label>
          <input type="password" placeholder="Confirmar su contraseña" name="passwordConfirm" >

          <button class="acceptbtn" type="submit">Modificar</button>

          <div class="containerOptions">
            <button id="ocultarModificarDatos" type="button" onclick="mostrarComentarios()" class="cancelbtn">Cancelar</button>
            <img src="../img/exclamacion.png" class="alert" width="30px" height="30px"></img>
            <p class="text-data"> Introduzca en el formulario unicamente los datos que desee modificar </p>
          </div>
      </form>
    </div>
    <!-- Fin panel de comentarios -->
    <!-- Fin datos del usuario -->
</section>
{% endblock %}
