{% extends "layout.twig" %}

{% block titulo %} {{ loggedUser.nickname }} {% endblock %}

{# Cargar el head normal y añadir el css #}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/usuario.css" media="screen"/>
{% endblock %}

{% block mainContent %}
<h2 class="title"> Perfil del usuario {{ loggedUser.nickname }} </h2>

<section class="content-user">
    <!-- Rango usuario -->
    <div class="img-rango">
        {% if loggedUser.rango == constant('Usuario::REGISTRADO') %}
        <center><img src="../img/registrado.png"></center>
        <p class="img-footer"> Usuario registrado </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::MODERADOR') %}
        <img src="../img/moderador.png">
        <p class="img-footer"> Moderador </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::GESTOR') %}
        <img src="../img/gestor.png">
        <p class="img-footer"> Gestor </p>
        {% endif %}
        {% if loggedUser.rango == constant('Usuario::SUPERUSUARIO') %}
        <center><img src="../img/superusuario.png"></center>
        <p class="img-footer"> Superusuario </p>
        {% endif %}
    </div>
    <!-- Fin rango usuario -->

    {% if updated == "ok" %}
    <div class="message_box_info">
    <center><p class="text-data"> Los datos se han modificado correctamente. </p></center>
    </div>
    {% endif %}

    {% if updated == "error" %}
    <div class="message_box_error">
    <center><p class="text-data"> Ha ocurrido un error. Los datos no han sido modificados. </p></center>
    </div>
    {% endif %}

    <!-- Datos usuario -->
    <div id="cajaDatosPersonales" class="cajaDatosPersonales">
      <form class="containerOptions" action="../core/post/postModify.php" method="POST">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Introduzca su email" name="email" value="{{ loggedUser.email }}">

          <label for="nickname"><b>Nombre de usuario/Nick</b></label>
          <input type="text" placeholder="Introduzca su nickname" name="nickname" value="{{ loggedUser.nickname }}">

          <label for="password"><b>Contraseña</b></label>
          <input type="password" placeholder="Introduzca su contraseña" name="password">

          <label for="passwordConfirm"><b>Confirmar contraseña</b></label>
          <input type="password" placeholder="Confirmar su contraseña" name="passwordConfirm">

          <button class="acceptbtn" type="submit">Modificar</button>

          <div class="containerOptions">
            <img src="../img/exclamacion.png" class="alert" width="30px" height="30px">
            <p class="text-data"> Introduzca en el formulario unicamente los datos que desee modificar </p>
          </div>
      </form>
    </div>
    <!-- Fin datos del usuario -->
</section>
{% endblock %}
